################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/Calendar/obj/Debug
/.vs/Calendar/FileContentIndex
/.vs/Calendar/v17
